body{
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

.container{
  max-width: 1110px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: #014E56;
  color: #fff;
  padding-top: 77px;
  padding-bottom: 128px;
  background-image: url(../img/contact-top-circle.png), url(../img/cantact-bottom-circle.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 673px)308px, calc(50% - -674px)817px;
}


.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 124px;
}

.site-hero__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-header-item img{
  margin-right: 80px;
}

.site-header__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-header__link{
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
}

.site-header__link:hover{
  color: #F67E7E;
}



.site-header__contact{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 10px 33px;
}

.site-header__contact:hover{
  background-color: #FFFFFF;
  color:#002529;
}


.site-hero__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-hero__content h1{
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.site-hero__content h3{
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  margin-bottom: 54px;
}

.site-hero__block{
  display: flex;
  align-items: center;
  margin-bottom: 52px;
}

.site-hero__block img{
  margin-right: 23px;
}

.site-hero__form{
  width: 500px;
  right: 0;
  background-color:#014E56;
}

.site-hero__input{
  display: block;
  width: 500px;
  height: 100px;
  box-sizing: 0;
  color: none;
  background-color: none;
  background-color:#014E56;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #FFFFFF;
  opacity: 0.6;
  box-sizing: unset;

}


.site-hero__button{
  padding: 10px 32px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
}



.footer-bottom{
  background: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-bottom__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__item{
  display: flex;
}

.footer-bottom__links{
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.footer-bottom__link{
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-right: 40px;
}

.footer-bottom__link:hover{
  color: #F67E7E;
}

.footer-bottom__address{
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  width: 220px;
  height: 100px;
  margin-left: 125px;
}

.icons-list{
  display: flex;
  list-style: none;
  margin-left: 116px;
  margin-bottom: 51px;
}

.icons-link{
  margin-left: 16px;
}

.icon-link{
  fill: #FFFFFF;
}

.icon-link:hover{
  fill: #F67E7E;
}

.icons-copy{
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.6;
}
