body{
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

.container{
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: #014E56;
}

.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #014E56;
  padding-top: 73px;
  /* padding-bottom: 133px; */

}

.header-img{
  padding-right: 20px;
}

.site-header ul{
  display: flex;
  align-items: center;
  padding-right: 250px;
  margin: 0;
}

.site-header li{
  list-style: none;
  padding-right: 40px;

}

.header-link1{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.header-link1:hover{
  color: #f67e7e;;
}


.header-link{
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 25px;
  text-decoration: none;
  white-space: nowrap;
  color: #FFFFFF;
  padding:8px 30px;
}

.header-link:hover{
  background-color: #FFFFFF;
  color: #002529
}

.site-hero::before{
  position: absolute;
  background-image: url(../img/Group\ 8\ \(1\)\ \(1\).svg);
  content: "";
  display: block;
  left: calc(50% - 820px);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

.site-hero::after{
  position: absolute;
  background-image: url(../img/Group\ 7.svg);
  content: "";
  margin-top: 850px;
  margin-left: 800px;
  display: block;
  width: 358px;
  height: 200px;
  background-repeat: no-repeat;
}

.site-hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 139px;
  position: relative;
  padding-bottom: 250px;
}

.site-hero1{
  font-size: 50px;
  line-height: 117px;
  color: #FFFFFF;
}

.site-hero1 span{
  color: #f67e7e;
}

.site-hero2{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 80px;
}

.main{
  position: relative;
  z-index: 2;
  background-color:  #012F34;
}

.main-features{
  display: flex;
  justify-content: space-between;
  background-color:  #012F34;
  padding: 140px 0;
}

.main-content{
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #FFFFFF;
}

.main-inner-item{
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}



.main-item1 p{
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.style{
  display: flex;
  list-style: none;
}

.main-li1:before{
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../img/rasm1.svg);
  padding-right: 15px;
  background-repeat: no-repeat;
}

.main-li2:before{
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../img/rasm2.svg);
  padding-right: 15px;
  background-repeat: no-repeat;
}

.main-li3:before{
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../img/rasm3.svg);
  padding-right: 15px;
  background-repeat: no-repeat;
}

.main{
  position: relative;
  overflow: hidden;
}

.main-features::before{
  position: absolute;
  display: block;
  background-image: url(../img/bottom.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 244px;
  content:"";
  right: calc(50% - 884px);
  top: 496px;
}